@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(-3%);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(3%);
    }
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-3%);
    }
    30% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(3%);
    }
    40% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(-3%);
    }
    50% {
        transform: translateX(0);
    }
    55% {
        transform: translateX(3%);
    }
    60% {
        transform: translateX(0);
    }
    65% {
        transform: translateX(-3%);
    }
    70% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(3%);
    }
    80% {
        transform: translateX(0);
    }
    85% {
        transform: translateX(-3%);
    }
    90% {
        transform: translateX(0);
    }
    95% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}